<div class="justify-content-center align-items-center row mt-4">
  <div class="border p-2 col-lg-8 col-md-11 col-11 ">
    <h5>Post # <%= post_index %></h5>
    <br>
    <p><%= post.title %></p>
    <p><%= post.text %></p>
    <p class="text-end">Comments:  <%= post.comments_counter %> , Likes:  <%= post.likes_counter %> </p>
  </div>
</div>