<div class='main-users'>
  <div class='user-box'>
    <div class='user-name'>
      <h1><%= @user.name %></h1>
    </div>
    <div class='user-posts'>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>

<div class='bio'>
  <p><%= @user.bio %></p>
</div>

<div class='posts'>
  <% if @user.posts.present? %>
    <% @user.posts.each do |post| %>
      <div class='post'>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <p>Number of comments: <%= post.comments_counter %></p>
        <p>Number of likes: <%= post.likes_counter %></p>
      </div>
    <% end %>
  <% else %>
    <p>No posts yet.</p>
  <% end %>
</div>

<%= link_to 'See all posts', user_posts_path(@user), class: 'button' %>