<div class='main-users'>
  <div class='user-box'>
    <div class='user-name'>
      <h1><%= @user.name %></h1>
    </div>
    <div class='user-posts'>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>

<div class='posts'>
  <% if @user.posts.present? %>
    <% @user.posts.each do |post| %>
      <div class='post'>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <p>Number of comments: <%= post.comments_counter %></p>
        <p>Number of likes: <%= post.likes_counter %></p>
      </div>
    <% end %>
  <% else %>
    <p>No posts yet.</p>
  <% end %>
</div>

<div class='comments'>
  <% @posts.each do |post| %>
  <p><%= "#{comment.user.name}: #{comment.text}" %></p>
  <% end %>
</div>

# <%= link_to 'Pagination', user_posts_path(user: @user.id), class: 'button' %>