<%= form_with(model: [@user, @user.posts.build], url: user_posts_path(@user), method: :post) do |form| %>
  <div class="container">
  <div class="row justify-content-center align-items-center ">
  <div class="col-6 border border-primary rounded-1  border-2 p-5">
  <h1 class="text-center">Add new post</h1>
  <div class="form-group justify-content-center">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control', placeholder: "Your Post title..." %>
  </div>
  
  <div class="form-group my-2 py-2">
    <%= form.label :text, class: 'form-label' %>
    <%= form.text_area :text, class: 'form-control', placeholder: "Your Post content..." %>
  </div>

  <div class="d-flex justify-content-center">
  <%= form.submit "Create Post", class: 'btn btn-primary' %>
  </div>

  </div>
  </div>
  </div>
  <% end %>