<div class="justify-content-center align-items-center row mt-4">
  <div class="border p-2 col-lg-8 col-md-11 col-11 ">
   <div class="d-flex justify-content-between">
    <h5>Post # <%= @post_index %> by <%= @post.author.name %></h5>
    <p class="text-end">Comments:  <%= @post.comments_counter %> , Likes:  <%= @post.likes_counter %> </p>
   </div>
    <br>
    <p><%= @post.title %></p>
    <p><%= @post.text %></p>
  </div>
</div>

<%= render 'partials/comment', comment: @comment %>

<div class="row justify-content-center align-items-center mt-3">
<div class="col-6 justify-content-end d-flex">
<%= button_to "Like", user_post_likes_path(user_id: @user.id, post_id: @post.id), method: :post, class: 'btn btn-primary w-20' %>
</div>

<div class="col-6">
  <%= link_to "Add Comment", new_user_post_comment_path(@user, @post), class: 'btn btn-primary w-25' %>
</div>
</div>